@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,500,900);

/* *{border: 1px solid orange;} */
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; 
  height: 100%;
max-width: 100%;
overflow-x: hidden;
scroll-behavior: smooth !important;
}
  
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #222; 
max-height: 100%;
overflow-x: hidden;}

/* hide on mobile */
.hideOnMobile{display: none;}

/* slick slider */
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block;height:auto;max-height:150px;object-fit:cover;flex:25%;}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}.slick-prev, .slick-arrow{display: none !important;}

/* images */
img{width: 100%; height: 100%;}

/* General */
body{background-color: #231f20;}
body, html{max-width: 100%;}
.invert{filter: invert(1);}

/* fonts */
h1, p{color: #E2E1E1; text-align: center;}
*{color: #E2E1E1;}
h1, h2, h3, h4, h5, h6{font-family: 'Roboto'; color: #fff; letter-spacing: 1px;}
h1, h2, h3{font-size: 5vw; font-weight: 900; letter-spacing: 2px; margin-bottom: 3vh;}
/* h2{font-size: 2.5rem; font-weight: 500;}
h3{font-size: 2.3rem; margin-top: 20px;} */
p{font-family: 'Roboto'; font-weight: 300; font-size: 1.6rem;}
.theTeam h3{font-size: 5vw; font-weight: 900; letter-spacing: 2px; margin-bottom: 3vh;}

/* links */
a{text-decoration: none; color: #E2E1E1;}
a:hover{text-decoration: none; color: #E2E1E1;}

/* color links */
.colorLink1{box-shadow: inset 0px -0.3em 0px -2px #f1a037;}
.colorLinkOrange{box-shadow: inset 0px -0.3em 0px -2px #f1a037;}
.colorLink1:hover{opacity: 0.8; box-shadow: inset 0px -0.3em 0px -2px #ff9f21;}
.colorLink2{box-shadow: inset 0px -0.3em 0px -2px #ee7058;}
.colorLink3{box-shadow: inset 0px -0.3em 0px -2px #434972;}
.colorLink4{box-shadow: inset 0px -0.3em 0px -2px #0a344e;}

/* Color section */
.colorLine{height: 30px;}
.color1{background-color: #f1a037;}
.color2{background-color: #ee7058;}
.color3{background-color: #434972;}
.color4{background-color: #0a344e;}

/* color text */
.colorText1{color: #f11515; font-size: 1.9rem;}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo-img{
  width: 100px;
  z-index: 5;
  position: relative;
  filter: invert(1);
  padding-left: 30px;}
.logo{display: flex;
  align-items: center;}
.mainNav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px;}
.nav-ul{
  min-height: 100%;
  flex-direction:column;
  align-items: center;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  background-color: #231f20;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  padding: 0;
  justify-content: center;
  list-style-type: none;}
  nav ul a {
    display: inline-block;
    margin: 10px 0px;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;  }
.nav-ul.show{
    transform: translateX(0%);}
    .nav-ul a:hover{color: #f1a037;}
.navTitle{padding-left: 20px;
  font-size: 2rem;
  color: #fff;
  padding-top: 15px;}
.logoInsta{width: 25px;
  margin-top: -5px;filter: grayscale() brightness(1.5);}
.logoInsta:hover{filter: grayscale(0) brightness(1);}

/*hamburger*/
#hamburger{
  width: 35px;
  margin-right: 20px;}
.hamburger div{
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;}
.icon{
  width: 30px;}
.hamburger{
  cursor: pointer;
  opacity: 0.9;
  width: 30px;
  z-index: 10;}
.hamburger:hover{
  opacity: 1;}

.hamburgerFlip .line1{
  transform: rotate(-45deg) translate(-5px,6px);}
.hamburgerFlip .line2{
  opacity: 0;}
.hamburgerFlip .line3{
  transform: rotate(45deg) translate(-5px,-6px);}
.borderLink{border: 2px solid #fff;     padding: 5px 15px;}
.borderLink:hover{border: 2px solid #f1a037;}

/* main image */
.mainImgSection{margin-top: -90px;}

/* links next to map */
.continentsMenu{padding: 10px 0px; margin: auto; text-align: center;}
.miscIcon{    margin-right: 15px; max-width: 25px;}
.miscIconBig{margin-right: 15px; max-width: 35px;}
.linkMap{    text-decoration: none;
    box-shadow: inset 0px -0.2em 0 #ffffff6b; }
.linkMap:hover{color: #f1a037; cursor: pointer;}
.continentsMenu li{list-style: none; padding:  5px;}

/* map popup */
iframe{width: 100%; height: 100%;}
.popupMap{display: none;}
.popupMapShow{height: 100%; width: 100%; background-color: #231f20db; position: fixed; z-index: 1;
top: 0;}
.mapLocation{max-width: 600px; margin: auto;}
.loading{margin-bottom: -20px;}

/* slider */
.socialFollowInsta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  margin: 0;
  padding: 4vh 0vw;}
.socialInstaFollow {background-color: #231f20;
  color: #fff;
  padding: 0;}
.socialInstaFollow a{text-decoration: none;
  color: #fff;}
.socialInstaFollow a:hover{color: #f1a037;}
.logoInstaSlider{margin-right: 10px; width: 20px;}
.socialInstaFollow{text-transform: uppercase ;}
.social-icons-nav{height: 45px;}
.social-icons-nav a{height: 55px; padding: 12px; margin-top: 30px;}
.followUsText{text-transform: uppercase; margin-top: 5vh; text-align: center; }

/* about us */
.map h2{text-align: center; padding-bottom: 5vh;}
.aboutIntro{padding: 20vh 20px 10vh 20px;}
.aboutIntro p{max-width: 500px; margin:auto;}
.personalImgMat{max-width: 350px;
  height: auto;}
.mathilde{padding: 20px;}
.textMat p{text-align: start; max-width: 350px;}
hr{height: 3px;
  color: #fff;
  width: 60%;
  margin: auto;}
.titleNic{text-align: end;}
.titleMat, .titleNic{text-transform: uppercase;}
.textNic p{text-align: end; max-width: 350px;}
.textNic, .textNic q{float: right;}
.personalImgNic{max-width: 350px;
  height: auto;}
.alba{padding-top: 8vh;}


/* follow us logos */
.followUsContainer{position: relative;
    height: 5px;
    margin: 5vh 0px 12px 0px;}
.followUsLogos{margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
display: flex;}
.followUsIcon{width: auto;  height: 45px; padding: 10px;}
.followUsIcon:hover{opacity: 0.7;}


/* company logos */
.publications{text-transform: uppercase; text-align: center;}
.smallTxt{font-size: 1.4rem; margin-bottom: 5vh; margin-top: -20px;}
.companyLogoSection{padding: 5vh 20px;}
.companyLogo{width: 100%;
  filter: grayscale(1);
  height: 80px;
  padding: 15px 25px;
}
.companyLogo:hover{filter: none;}
.companyLogos{display: block; max-width: 500px; justify-content: center; margin: auto;}
.logoLink{padding: 0 3px ;}
.companyLogoCointainer {
  position: relative;
  padding: 6vh 20px 6vh 20px;}


  /* Timer section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#timerSeconds, #timerHours, #timerDays, #timerMinutes{text-align: center; font-size: 2rem; font-family: 'Roboto'; font-weight: 600; padding: 0;  margin: 0; color: #FFF500}

.timerContainer{display: flex;
  justify-content: center;}
.timerSection{padding: 7vh 0px 8vh 0px;}
.timerSectionAboutPage{padding: 0vh 20px 8vh 20px !important; margin-top: 0;}
.timerSection h2{color: #fff; text-align: center; text-transform: uppercase;}
.timerSpecificContainer{
  width: 90px; margin: 0px -10px;}
.pointsTimer{margin: 0; padding: 0; font-weight: 600; color: #E2E1E1;}

/* main image */
.mainImg{width: 100%; height: 50vh; z-index: -10; object-fit: cover;}
.mainImgAboutUs{object-position: bottom;}

/* footer nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footerNav{  text-align: center;}
.footerNav a{    color: #fff;
  margin-top: 2px;
  font-size: 1.6rem;
font-weight: 300;}
.footerNav a:hover {
  box-shadow: inset 0px -0.5em 0 #fddf326b;
}
.footerNavItem{margin-left: 10px;
  text-decoration: none;
  display: inline-block;}
.copyrightWebsite{
  text-decoration: none;
  display: block;}

/* nicolas text and image */
.column1{order: 1;}
.column2{order: 2;}

  /* intro */
.intro{padding: 6vh 20px 8vh 20px;}
.intro p{max-width: 450px; margin: auto;}
.intro h1{margin-bottom: 4vh;}
/* .intro a {color: #FABE65; text-decoration: none; font-weight: 600;} */

/* links next to map */

.miscIcon{    margin-right: 15px; }
.linkMap{    text-decoration: none;
    box-shadow: inset 0px -0.2em 0 #ffffff6b; }
.linkMap:hover{color: #f1a037; cursor: pointer;}
.continentsMenu li{list-style: none; padding:  5px;}

/* the team section */
.theTeam{margin: 7vh 20px 5vh 20px}
.theTeam p{max-width: 400px; margin: auto;}
.theTeam h3{text-align: center; text-transform: uppercase;}
.col-sm-8{padding: 0; margin: 0;}

/* map on modal */
.mapLocation{      margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  height: 60%;
  width: 80%;}
.mapLocation h2{text-align: center;}
.closeMap{width: 150px; margin: auto;}
.closeMap button {
  color: #000;
  padding: 5px 20px;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 10px;}

.imageCarouselSection{margin-bottom:7vh;}
.imageCarouselSectionAboutPage{margin-bottom: 8vh;}

/* third large picture homepage */
.thirdPicture{margin: 5vh 0px;}

/* About us page */
.textAbout{padding: 20px;}
.introAbout h1{ font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 3vh;}
.infoMat img, .infoNic img, .infoAlb img{min-width: 200px; min-height: 200px;width: 200px; height: 200px; max-width: 200px; max-height: 200px; object-fit: cover; margin: auto; border-radius: 50%;}
.infoMat div:first-child, .infoNic div:first-child, .infoAlb div:first-child{width: 200px; margin: auto;}
.infoMat img{object-position: right;}

/* mathilde */
.infoMat{margin-bottom: 8vh;}
.infoMat p{text-align: left;}

/* nicolas */
.infoNic{margin-bottom: 8vh;}
.infoNic p{text-align: left;}

/* albo */
.infoAlb{margin-bottom: 8vh;}
.infoAlb p{text-align: left;}

/* ROUTE PAGE */
.titleLegs{text-align: center; padding: 8vh 10px;}
.legsRouteSection{padding: 20px;}

/* CONTACT PAGE */
.contactUs p{max-width: 600px; margin: auto;}
.contactImg{height: 30px; margin: 0; padding: 0; filter: grayscale() brightness(1.5);}
.contactImg:hover{filter: grayscale(0) brightness(1);}
.contactRow{margin: auto 20px; margin-bottom: 10vh;}
.contactUsImg{margin: auto; margin-bottom: 10vh;}
.contactUs div div div{display: flex; width: auto; margin: auto; align-content: center; align-items: center;}

/* ADVENTURE PAGE */
.youtubeContainer{max-width: 800px; margin: auto; padding:0 20px 5vh 20px;}
iframe{min-height: 200px;}
.centerTitle{text-align: center;}
.GPSsection{padding: 4vh 0px;}
.GPSsection h2, .GPSsection h3{text-align: center;}
.patreonlogo{max-width: 250px; margin: auto; padding: 5vh 20px 8vh 20px; filter: grayscale(1);}
.patreonlogo:hover{filter: none; cursor: pointer;}
.adventurediv{padding: 5vh 20px 10vh 20px;}
.adventurediv h2{text-align: center;}
.followPatreon{max-width: 500px; margin: auto;}
.patreonRow{max-width: 900px; margin: auto;}

/* PARTNER PAGE */
.partner-logo{max-width: 250px;  margin: auto;  padding: 0px 20px 6vh 20px;  filter: grayscale(1);}
.partner-logoBart{max-width: 250px;  margin: auto;  padding: 0px 20px 6vh 20px;  filter: grayscale(1);}
.partnerDiv{padding: 0vh 20px 10vh 20px;}
.partnerDiv h2{text-align: center;}
.partner-logo:hover{filter: none; cursor: pointer;} 
.partner-logoBart:hover{filter: none; cursor: pointer;} 
.partnerText{max-width: 500px;  margin: auto;}

/* gps positon */
.GPSpositionBox{width: 250px; margin: auto;}

/* logos sponsors */
.lineBreak{color: orange; opacity: 1; width: 75%;}
.smallLogo{padding: 22px;}

@media screen and (min-width: 600px) {
.mainImg{height: 100vh;}

.column1{order: 2;}
.column2{order: 1;}

/* map */
.modal-fullscreen, .modal-body {background-color: #231f20; max-width: 900px; max-height: 400px; margin: auto;}
.map{padding: 5vh 20px 8vh 20px;}
.mapImg{padding-bottom: 8vh; max-width: 1000px; margin: auto;}

.intro p{margin-top: 7vh;}

/* About us page */
.introAbout h1{font-size: 5rem;}
.infoMat, .infoNic, .infoAlb{max-width: 500px; margin: auto; padding: 5vh 0px}


/* Route page */
.legsRouteSection img{max-height: 300px; padding-bottom: 5vh;}
.legsRouteSection{padding: 5vh 20px 10vh 20px;}


/* CONTACT PAGE */
.contactRow{width: 500px; margin: auto; margin-bottom: 10vh;}
.contactUsImg{max-width: 500px; margin: auto;}
.contactImg{height: 50px;}
.contactUs div div div{display: block; width: auto; margin: auto; align-content: center; align-items: center;}

/* ADVENTURE PAGE */
.youtubeContainer{max-width: 80%; margin: auto;}
.youtubeContainer h2{text-align: center;}
iframe{min-height: 300px;}
.centerTitle{text-align: center;}
.GPSsection{padding: 5vh 0px;}
.patreonlogo{max-width: 350px; }
.adventurediv{padding: 16vh 20px 12vh 20px;}

/* PARTNERS */
.partner-logo{padding-top: 18vh; max-width: 380px;} 
.partner-logoBart{padding-top: 11vh; max-width: 380px;} 
.partnerText{margin: 0;}
.partnerText p{text-align: left;}
.partnerDiv h2{text-align: left;}
.logo-44{padding-right: 15px;}


}

@media screen and (min-width: 900px) { .mapImg{padding-bottom: 0;}

hr{width: 20%;}

/* fonts */
h1{font-size: 4.5rem; font-weight: 900;}
h2{font-size: 3rem; font-weight: 600;}


/* about page */
.personalImgMat{max-width: 350px;
  height: auto;
  float: right;
  padding-right: 30px;}
.personalImgNic{
  float: left; padding-left: 30px;}


/* company logos */
.companyLogoSection{padding: 5vh 20px;}
.companyLogos{display: flex; max-width: 900px; justify-content: center; margin: auto; margin-right: 10px;}
.logoLink{padding: 0 10px ;}
.companyLogoCointainer {
  position: relative;
  padding: 6vh 20px 6vh 20px;}
.smallLogo{width: 85%; margin: auto;}
.bigLogo{height: 85px;
  margin-left: -20px;
  margin-top: -10px;}

/* about us section homepage */
.aboutUsSplit{display: flex; padding: 15vh 20px 9vh 20px;}
.theTeam{width: 45%;}
h2, h3{font-size: 3rem;}
.containerCards{width: 55%;}
.roundImgSmall{min-width: 120px; min-height: 120px; border-radius: 50%;}
.imageNic{background-image: url(/Images/the-team/Nick-traveller-world-tour.webp); background-position: center; background-size: cover;margin-right: 20px;}
.imageMat{background-image: url(/Images/the-team/Chew-world-traveller-mathilde.webp); background-position:right; background-size: cover;margin-right: 20px;}
.imageAlb{background-image: url(/Images/the-team/Landrover-albo-world-tour.webp); background-position: center; background-size: cover;margin-right: 20px;}
.aboutUsContainer{display: flex; width: 80%; max-width: 800px; margin: auto; align-items: center; padding-bottom: 5vh;}
.aboutUsContainer:last-child{  margin-bottom:0; }
.containerAboutList{padding-right: 5vw;
  width: 70%;
  margin-left: -5vw;}
.aboutUsContainer p{text-align: left; margin: 0;}

.theTeam h3{margin-top: 0; font-size: 4.5rem;}

/* dont show on dekstop */
.hideOnDesktop{display: none;}

/* show on desktop*/
.hideOnMobile{display: block;}

/* ADVENTURE PAGE */
.youtubeContainer{max-width: 800px; margin: auto;}
iframe{min-height: 400px;}

/* the team section */
.theTeam{margin: 28vh 20px 5vh 5vw}

/* text about us homepage lining distance */
.distanceSpan{padding: 1.8vh 0px;}

/* create border between sponsors and publications */
.companyBorderLeft{border-left: 1px solid orange;}

/* third large picture homepage */
.thirdPicture{margin-bottom: 10vh; margin-top: 0;}

}


/* slidejs media queries */
@media screen and (min-width: 600px) {
    .slick-slide img{display:block;height:auto;max-height:170px; object-fit:cover;flex:25%;}

    /* footer nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.copyrightWebsite{
  display: inline-block;}
}

@media screen and (min-width: 800px) {
/* .colorLink1{box-shadow: none;}
.colorLink2{box-shadow: none;}
.colorLink3{box-shadow: none;}
.colorLink4{box-shadow: none;} */

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */  
.mainNav{display: flex;}
.logo{position: inherit;}
#hamburger {
  display: none;}
  .mainNav {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
  flex-wrap: nowrap;
padding-top: 10px;}
.nav-ul {
    flex-direction: row;
    align-items: center;
    transform: translateX(0%);
    transition: none;
    background-color: transparent;
    z-index: 1;
    padding: 0;
    list-style-type: none;
    margin: 0;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
  position: inherit;}
  nav ul a {
    font-size: 1.4rem;}
nav li {
  margin-right: 15px;
  margin-left: 15px;}
.nav-ul a, .socialFollowIconNav .fab  {color: #fff;}

.social-icons-nav a {
  height: 25px;
  padding: 0 12px;
  margin-top: 10px;
  width: 50px;
}

.nav-ul li .colorLink1{box-shadow: none;}
.nav-ul li .colorLink2{box-shadow: none;}
.nav-ul li .colorLink3{box-shadow: none;}
.nav-ul li .colorLink4{box-shadow: none;}

.companyLogoCointainer {
  padding: 3vh 20px 5vh 20px;
}

.companyLogosSection{padding-bottom: 10vh;}

}

@media screen and (min-width: 1000px) {
    .slick-slide img{display:block;height:auto;max-height:220px; object-fit:cover;flex:25%;}

    /* About us page */
.introAbout h1{font-size: 5rem;}
.infoMat, .infoNic, .infoAlb{display: flex; max-width: 100%; align-items: center; align-content: center; margin: auto;     padding-left: 20vh;
}
.infoMat img, .infoNic img, .infoAlb img{width: 30%;}
.textAbout{width: 65%;
  max-width: 600px;
  margin: auto;}
}

@media screen and (min-width: 1200px) {
  /* About us page */
.infoMat, .infoNic, .infoAlb{max-width: 80%;}
}
