
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
- Navbar
*/

/*show borders around everything for troubleshooting*/
*{border: 0px solid orange;}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; 
  height: 100%;}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Open Sans', 'Archivo',  'Raleway';
  color: #222; 
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;   
  font-family: 'Archivo', 'Raleway', 'Open Sans';  }
h1 { font-size: 3rem; font-weight: 600; line-height: 1.2;  letter-spacing: .2rem;}
h2 { font-size: 2.2rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 1.8rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.6rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.4rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.3rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5rem; }
  h2 { font-size: 3rem; }
  h3 { font-size: 2.8rem; }
  h4 { font-size: 2.5rem; }
  h5 { font-size: 2.3rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0;
  font-family: 'Raleway', 'Open Sans'; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #202020; }
a:hover {
  color: #f1a037; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: disc inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 0.2rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Colours
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* background colours */
.primaryColor{background-color: #231f20;}

/* text */
.primaryColorText{color: #fddf32;}

/* images
–––––––––––––––––––––––––––––––––––––––––––––––––– */
img {width: 100%;}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo-img{
  width: 60px;
  z-index: 5;
  position: relative;
  filter: invert(1);
  padding-left: 30px;}
.logo{display: flex;
  align-items: center;}
.mainNav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute; 
  padding: 10px 0px;}
.nav-ul{
  min-height: 100vh;
  flex-direction:column;
  align-items: center;
  width: 100vw;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  background-color: #231f20;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  padding: 0;
  justify-content: center;
  list-style-type: none;}
  nav ul a {
    display: inline-block;
    margin: 10px 0px;
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
  }
.nav-ul.show{
    transform: translateX(0%);}
.navTitle{padding-left: 20px;
  font-size: 2rem;
  color: #fff;
  padding-top: 15px;}

/*hamburger*/
#hamburger{
  width: 35px;
  display: none;
  position: fixed;
  left: calc(100% - 60px);}
.hamburger div{
  width: 25px;
  height: 3px;
  background-color: #E2E1E1;
  margin: 5px;
  transition: all 0.3s ease;}
.icon{
  width: 30px;}
.hamburger{
  cursor: pointer;
  opacity: 0.9;
  width: 30px;
  z-index: 10;}
.hamburger:hover{
  opacity: 1;}
#hamburger{
  display: block;}

.hamburgerFlip .line1{
  transform: rotate(-45deg) translate(-5px,6px);}
.hamburgerFlip .line2{
  opacity: 0;}
.hamburgerFlip .line3{
  transform: rotate(45deg) translate(-5px,-6px);}

/*social follow icons*/
.socialFollowIconNav {
  font-size: 2rem;
  padding: 15px;
  margin: 0;
  padding: 0 10px;  }
.socialFollowIconNav .fab{
  color: #ffffff; 
  margin: 0; }
.socialFollowIconNav .fab:hover{
  color: #fddf32;
  margin: 0; }

    
/* header homepage
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fullWidthImg {
  text-align: center;
  height: 50vh;
  position: relative;
  background-image: url(../Images/Posts/Travelling-couple-standing-in-door-openings-of-their-jeep-surrounded-by-trees.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}
.containerHeader  {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;}

/* Continents section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section p{color: #E2E1E1;
  text-align: center;
  padding: 0px 20px 5px 20px;}
section h1{font-size: 2.3rem;
  text-transform: uppercase;
  padding: 0px 15px;
  text-align: center;
  color: #fff;}
section a{
  color: #fddf32;
  text-decoration: none;
  font-weight: 600;}
.mapContainer{margin-top: 8vh;}
.continents{padding: 12vh 0vw;
  background-color: #231f20;}
.continents h2 {
  font-size: 1.8rem;
  font-weight: bolder;
  letter-spacing: 1px;
  padding-bottom: 20px;
  text-align: center;
  color: #E2E1E1;}
.continentsMenu{
  margin: auto;
  font-size: 1.6rem;
  padding-top: 4vh;}
.continents ul li{
  color: #E2E1E1;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  padding-bottom: 10px;}
.continents ul li span{   color: #E2E1E1;
  text-decoration: none;
  box-shadow: inset 0px -0.2em 0 #ffffff6b}
.continents ul li span:hover{box-shadow: inset 0px -0.5em 0 #fddf326b;
cursor: pointer;
color: #FFF;}
.iconsMenu{padding-right: 18px;
  color: #E2E1E1;}
.routeImg{margin-bottom: 10px;}
.routeImg:hover{filter: brightness(2);}
.lb-image{background-color: #231f20;}

/* pop up location
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.74);
  border: 3px solid #666666;
  width: 100%;
  height: 100vh;
  padding: 10vh 20px;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
align-items: center;}
.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;}
.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;}
.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
    width: 90%;
    margin: auto;
    border: 3px solid rgb(226, 225, 225);
    height: 90%;
    margin-top: 5vh;
    border-radius: 5px; 
    background-color: #231f20;
    max-width: 900px;
    max-height: 650px;}
.popupText{
  padding-left:20px;
  padding-right: 20px;
  padding-top: 3vh;
  color: rgb(226, 225, 225);
  text-align: center;}
.GPStitle {font-weight: 900;
  color: #fff;}
iframe{width: 90%;
  padding-bottom: 20PX;
  height: 50vh;
  margin: auto;}
button{color: #fff;}
button:hover{opacity: .8;
  color: #fff;}
.open{cursor: pointer;}

/* footer nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footerNav{  text-align: center;
  padding: 10vh 1px 1px 1px;}
.footerNav a{color: #E2E1E1;}
.footerNav a:hover {
  box-shadow: inset 0px -0.5em 0 #fddf326b;
}
.footerNavItem{margin-left: 10px;
  text-decoration: none;
  display: inline-block;}
.copyrightWebsite{
  text-decoration: none;
  display: block;}

/* Image section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.imgSection{
  text-align: center;
  height: 50vh;
  position: relative;
  background-image: url(https://images.pexels.com/photos/4275885/pexels-photo-4275885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}


/* Timer section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#timerSeconds, #timerHours, #timerDays, #timerMinutes{
  text-align: center;
  font-size: 2rem;
  font-family: 'Archivo';
  font-weight: 600;
  color: #E2E1E1;
  padding: 0;
  margin: 0;}
#timerSeconds{color: #fddf32;}
.timerContainer{display: flex;
  justify-content: center;}
.timerSection{    padding: 5vh 20px;}
.timerSection h2{color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;}
.timerSpecificContainer{
  width: 90px;
  margin: 0px -10px;}
.pointsTimer{margin: 0;
  padding: 0;
  font-weight: 600;
  color: #E2E1E1;}
.companyLogoCointainer{position: relative;
  padding: 13vh 20px 6vh 20px;}
.companyLogo{width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(0.4);  }


/* slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.vjslider{width:100%;display:flex;flex-direction:row;flex-wrap:nowrap;align-items:center;overflow:hidden}.vjslider__slide{min-width:100%;transition:transform .3s}.vjslider__slide--no-animate{transition:none}
.carousel__slide {
    height: 15rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;}
.carousel__slide img {width: 100%;
  height: 100%;   
object-fit: cover;
object-position: center;
margin: 0;
padding:0;}
.socialFollowInsta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  margin: 0;
  padding: 4vh 0vw;}
.socialInstaFollow{background-color: #231f20;
  color: #fff;
  padding: 0;
margin: 0;}
.socialInstaFollow a{text-decoration: none;
  color: #fff;}
.socialInstaFollow a:hover{color: #fddf32;}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {
  .continents p {max-width: 450px;
  margin: auto;}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
/* header homepage
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fullWidthImg {
  text-align: center;
  height: 100vh;}
section h1 {
    font-size: 3.3rem;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;}

/* popup
–––––––––––––––––––––––––––––––––––––––––––––––––– */ 
    iframe{height: 60vh;}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */  
#hamburger {
  display: none;}
  .mainNav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    width: 100%;
}
.nav-ul {
    min-height: 100%;
    flex-direction: row;
    align-items: center;
    transform: translateX(0%);
    transition: none;
    background-color: transparent;
    z-index: 1;
    position: absolute;
    padding: 0;
    list-style-type: none;
    margin: 0;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;}
nav li {
  margin-right: 15px;
  margin-left: 15px;}
.nav-ul a, .socialFollowIconNav .fab  {color: #fff;}
.nav-ul a:hover{color: #fddf32;}

/* footer nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.copyrightWebsite{
  display: inline-block;}
/* Destinations page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.destinationsHeader{
  padding: 10vh 40px 0vh 40px;}
  .continentsMenu {
    padding-top: 0vh;}
.mapContainer {
    margin-top: 12vh;
    margin-bottom: 5vh;}

/* big image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  .imgSection {
  height: 100vh;}

/* Image slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#slideshow div{
  height: 200px;} 
#slideshow div img {
    width: 25vw;}
}

    


/* Larger than desktop */
@media (min-width: 1000px) {
  /* Image slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#slideshow div{
  height: 200px;} 
#slideshow div img {
    width: 15vw;}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
